*{
    margin:0;
    padding:0;
}
.container{
    width:80%;
    margin:0 auto;
    /*background-color:orange;*/
    /* height:100vh; */
}
.name{
    font-family: sans-serif;
    font-size: 48px;
    color:rgb(33, 126, 75);
    text-align: center;
    margin-bottom: 32px;
}
.gallery__img{
    width:250px;
    height:150px;
    object-fit: cover;
    border:2px solid rgb(51, 51, 212);
    border-radius: 8px;
}
.gallery{
    display: flex;
    justify-content: space-around;
}

/* Адаптив под афон 12 про */
@media  screen and (max-width:390px) {
    .container{
        /* background-color: aquamarine; */

    }
    .gallery{
        flex-direction: column;
        align-items: center;
    }
    .gallery__img{
        margin-bottom: 30px;
    }
}